/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

ul > li > a:hover {
    text-decoration: none;
}

ul#cities li > a {
    padding: 2px 8px;
}

ul#cities li {
    border: 1px solid #f1f1f1;
    border-bottom: none;
}


ul#dictricts li > a {
    padding: 2px 8px;
}

li.ul-list:last-child {
    border: 1px solid #f1f1f1 !important;
}

.col.s2 {
    margin-left: -15px !important;
}

ul#dictricts li {
    border: 1px solid #f1f1f1;
    border-bottom: none;
}

ul#wards li > a {
    padding: 2px 8px;
}

ul#wards li {
    border: 1px solid #f1f1f1;
    border-bottom: none;
}

.content {
    min-height: 500px;
}

.active {
    color: red;
}
.logo {
    display: none !important;
}

.navbar {
    display: none !important;
}
/*******************************
* MODAL AS LEFT/RIGHT SIDEBAR
* Add "left" or "right" in modal parent div, after class="modal".
* Get free snippets on bootpen.com
*******************************/
.modal.right .modal-dialog {
    position: fixed;
    margin: auto;
    width: 320px;
    height: 100%;
    -webkit-transform: translate3d(0%, 0, 0);
    -ms-transform: translate3d(0%, 0, 0);
    -o-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
}


.modal.right .modal-content {
    height: 100%;
    overflow-y: auto;
}

.modal.right .modal-body {
    padding: 15px 15px 80px;
}

/*Left*/
.modal.left.fade .modal-dialog {
    left: -320px;
    -webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
    -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
    -o-transition: opacity 0.3s linear, left 0.3s ease-out;
    transition: opacity 0.3s linear, left 0.3s ease-out;
}

.modal.left.fade.in .modal-dialog {
    left: 0;
}

/*Right*/
.modal.right.fade .modal-dialog {
    right: -320px;
    -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
    -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
    -o-transition: opacity 0.3s linear, right 0.3s ease-out;
    transition: opacity 0.3s linear, right 0.3s ease-out;
}

.modal.right.fade.in .modal-dialog {
    right: 0;
}

/* ----- MODAL STYLE ----- */
.modal-content {
    border-radius: 0;
    border: none;
}

.modal-header {
    border-bottom-color: #EEEEEE;
    background-color: #FAFAFA;
}
#myNavbar {
    background-color: #1e88e5;
    box-shadow: 0px 0px 2px black;
}
.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: transparent !important;
}
.nav > li > a:focus, .nav > li > a:hover {
    text-decoration: none;
    background-color: transparent !important;
}
ul.nav.navbar-nav > li a {
    color: white;
    text-transform: capitalize;
}
a.navbar-brand {
    color: white;
}