/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */


    ul#cities li > a {
        padding: 2px 8px;
   
    }

ul#cities li {
    border: 1px solid #f1f1f1;
    border-bottom: none;
}


    ul#dictricts li > a {
        padding: 2px 8px;
     
    }
li.ul-list:last-child {
    border: 1px solid #f1f1f1 !important;

}
.col.s2 {
    margin-left: -15px !important;
}
ul#dictricts li {
    border: 1px solid #f1f1f1;
    border-bottom: none;
}

ul#wards li > a {
    padding: 2px 8px;
 
}

ul#wards li {
    border: 1px solid #f1f1f1;
    border-bottom: none;
}
.content{
    min-height:500px;
    
}
.active{
    color:red;
}