@model Map4D.ViewModels.DrawPolygonViewModels
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    @if (Model.Cities != null)
    {
        <div class="col s2">
            <ul id="metismenu">
                @foreach (var city in Model.Cities)
                {
                    <li class="mm-active">
                        <a href="?cityId=@city.Id" aria-expanded="true">@city.Name</a>

                    </li>
                }
            </ul>
        </div>
    }
    @if (Model.Districts != null)
    {
        <div class="col s2">
            <ul id="metismenu">
                @foreach (var district in Model.Districts)
                {
                    <li class="mm-active">
                        <a href="?cityId=@Model.CurrentCityId&districtId=@district.Id" aria-expanded="true">@district.Name</a>

                    </li>
                }
            </ul>
        </div>
    }
    @if (Model.Wards != null)
    {
        <div class="col s2">
            <ul id="metismenu">
                @foreach (var ward in Model.Wards)
                {
                    <li class="mm-active">
                        <a href="#" aria-expanded="true">@ward.Name</a>

                    </li>
                }

            </ul>
        </div>
    }

</div>

@section scripts{

    <script src="~/Assets/js/drawpolygon.js"></script>
}
