@model Map4D.ViewModels.DrawPolygonViewModels
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row menu-bar">
    <div class="col s2 ">
        <ul id="cities"></ul>
    </div>
    <div class="col s2 ">
        <ul id="dictricts"></ul>
    </div>
    <div class="col s2 ">
        <ul id="wards"></ul>
    </div>
    <div class="col s6">
        <div id="xinkciti-map" style="height: 100%; width: 50%; position: absolute;"></div>
    </div>

</div>


<script id="city-template" type="x-tmpl-mustache">
    <li class="ul-list">
        <a href="#" aria-expanded="true" class="polygonItems" data-city="{{cityId}}" data-id="{{code}}">{{name}}</a>
    </li>
</script>
<script id="dictrict-template" type="x-tmpl-mustache">
    <li class="ul-list">
        <a href="#" aria-expanded="true" class="polygonItems-dictrict" data-dictrict="{{dictrictId}}" data-id="{{code}}">{{name}}</a>
    </li>
</script>
<script id="ward-template" type="x-tmpl-mustache">
    <li class="ul-list">
        <a href="#" aria-expanded="true" class="polygonItems-ward" data-ward="{{wardId}}" data-id="{{code}}">{{name}}</a>
    </li>
</script>
