
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col s4">
    <ul id="metismenu">
        <li class="mm-active">
            <a href="#" aria-expanded="true">Đà nẵng</a>
            <ul>
                <li>
                    <a href="#" aria-="true">Hải châu</a>
                </li>

                <li>
                    <a href="#" aria-="true">Liên chiểu</a>
                </li>
                <li>
                    <a href="#" aria-="true">Hòa khánh</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#" aria-expanded="false">Menu 2</a>
            <ul>
                <li>

                    <a href="#" aria-="true">Menu 1</a>
                </li>
            </ul>
        </li>
        ...
    </ul>
</div>
@section scripts{

    <script src="~/Assets/js/drawpolygon.js"></script>
}