@model Map4D.ViewModels.DrawPolygonViewModels
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-sm-2 col-md-2 col-lg-2">
        <ul class="list-group" id="cities"></ul>
    </div>
    <div class="col-sm-1 col-md-1 col-lg-1" style="font-size: 95%;">
        <ul class="list-group" id="dictricts"></ul>
    </div>
    <div class="col-sm-1 col-md-1 col-lg-1" style="font-size: 95%;">
        <ul class="list-group" id="wards"></ul>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-6">
        <div id="xinkciti-map" style="height: 600px; width: 95%; position: absolute;"></div>
    </div>
    <div class="col-sm-2 col-md-2 col-lg-2">
        <table id="popup" class="table">
            
        </table>
    </div>

</div>
<br />
<script id="city-template" type="x-tmpl-mustache">
    <li class="list-group-item" style="padding: 3px 0px;border: none;">
        <a href="#" aria-expanded="true" class="polygonItems" data-city="{{cityId}}" data-id="{{code}}"><span class="glyphicon glyphicon-chevron-right"></span> {{name}}</a>
    </li>
</script>
<script id="dictrict-template" type="x-tmpl-mustache">
    <li class="list-group-item" style="padding: 3px 0px;border: none;">
        <a href="#" aria-expanded="true" class="polygonItems-dictrict" data-dictrict="{{dictrictId}}" data-id="{{code}}">{{name}}</a>
    </li>
</script>
<script id="ward-template" type="x-tmpl-mustache">
    <li class="list-group-item" style="padding: 3px 0px;border: none;">
        <a href="#" aria-expanded="true" class="polygonItems-ward" data-ward="{{wardId}}" data-id="{{code}}">{{name}}</a>
    </li>
</script>
