<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
    <title>Thực tập</title>
    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="/assets/css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css">

</head>
<body>


        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Map4D</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/">Trang chủ</a></li>

                <li><a href="/dia-diem">Thông tin địa điểm</a></li>
            </ul>

        </div>
        <div class="container-fluid">


            <hr />
            @RenderBody()
        </div>
    </div>
    <!--  Scripts-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
    <script src="http://map.map4d.vn/data/jquery.cookie.min.js"></script>
    <script src="http://map.map4d.vn/data/react.production.min.js"></script>
    <script src="http://map.map4d.vn/data/react-dom.production.min.js"></script>
    <script src="http://map.map4d.vn/data/redux.min.js"></script>
    <link href="http://map.map4d.vn/styles/main.css" rel="stylesheet">
    <script src="http://map.map4d.vn/build/mapgl.bundle.js"></script>
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script>
        $(document).ready(
            $('.preload').fadeOut(1000, function () {
                $('.content').fadeIn(1000);
            })
            )
    </script>
</body>
</html>