@using Map4D.ViewModels;
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Test Tồn Tại</title>
</head>
<body>
    <div> 
        <form action="" method="get">
            <input type="text" name="lng" value="108.218389" placeholder="LNG" />
            <input type="text" name="lat" value="16.036696" placeholder="LAT" />
            <input type="submit" value="Submit" />
        </form>
    </div>
    <hr />
    <table style="border: 1px solid black;">
        @if (ViewBag.listTestTonTai != null)
        {
            foreach (TestTonTaiViewModel item in ViewBag.listTestTonTai)
            {
                <tr  style="border: 1px solid black;">
                    <td  style="border: 1px solid black;">@item.DuLieuDoiTuong</td>
                    <td  style="border: 1px solid black;">@item.TonTai</td>
                </tr>
            }

        }

    </table>
</body>
</html>
